<footer class="footer">
    <div class="container">
        <form class="footer__search">
            <input placeholder="Поиск по сайту" type="text">
            <button><img src="img/search.svg" alt=""></button>
        </form>

        <div class="footer__menu">
            <div class="footer__col">
                <img width="85" src="img/logo.svg" alt="">
            </div>
            <div class="footer__col">
                <div class="footer__title">ООО С3 «Молодежный»</div>
                <ul>
                    <li><img width="16" src="img/point.svg" alt=""> Владивосток, пр. Острякова 49, офис 406</li>
                    <li><img width="16" src="img/phone.svg" alt=""> <a href="tel:89941078877">8 (994) 107-88-77</a></li>
                    <li><img width="16" src="img/mail.svg" alt=""> <a href="mailto:sz-molodesh2020@mail.ru">sz-molodesh2020@mail.ru</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <a href="javascript:void(0)">Выбрать квартиру</a>
                <a href="javascript:void(0)">Преимущества</a>
                <a href="javascript:void(0)">О застройщике</a>
            </div>
            <div class="footer__col">
                <a href="javascript:void(0)">Ход строительства</a>
                <a href="javascript:void(0)">Документы</a>
                <a href="javascript:void(0)">Галерея</a>
            </div>
            <div class="footer__col">
                <a href="javascript:void(0)" class="s">Посмотреть стройку</a>
                <a href="javascript:void(0)" class="s">Скачать презентацию</a>
                <a href="javascript:void(0)" class="s">Заказать звонок</a>
            </div>
            <div class="footer__col footer__social">
                <a href="javascript:void(0)"><img width="26" src="img/inst.svg" alt=""></a>
                <a href="javascript:void(0)"><img width="26" src="img/vk.svg" alt=""></a>
                <a href="javascript:void(0)"><img width="26" src="img/fb.svg" alt=""></a>
                <a href="javascript:void(0)"><img width="26" src="img/twitter.svg" alt=""></a>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="js/main.js"></script>
</body>
</html>